body {
  margin: 0;
}

/**************HEADER*****************/

header {
  display: flex;
  justify-content: space-between;
  background-color: #e9b90f;
}

#player-hand {
  display: flex;
  justify-content: center;
  background: rgb(26, 153, 232);
  background: linear-gradient(
    0deg,
    rgba(26, 153, 232, 1) 0%,
    rgba(25, 106, 156, 1) 100%
  );
}

/*******POSITIONLINE*********/

#game-line {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(25, 106, 156);
  background: linear-gradient(
    0deg,
    rgba(25, 106, 156, 1) 0%,
    rgba(233, 185, 15, 1) 100%
  );
  overflow: auto;
}

.initial-position {
  height: 300px;
  width: 200px;
}

/*******CARDS******/
.card-container {
  height: 200px;
  width: 300px;
  opacity: 0;
  transition: opacity 0.8s;
}
img.card {
  background-color: transparent;
  height: 300px;
  width: 200px;
  min-width: 200px;
}

.rotate {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

/******FLIP*******/

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/*****DRAG&DROP******/
.dropzone {
  height: 300px;
  width: 58px;
  min-width: 58px;
  background-image: url("../images/timeline-round.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d9e2e708;
  transition: all 0.5s;
}
.dropzone:hover,.dropzone-hover {
  width: 200px;
  background-color: #d9e2e726;;
}

.draggable {
  height: 300px;
  width: 200px;
}

/****SCROLL*****/

div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

div::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

/****** Otras cosas******/
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  font-size: 16px;
  padding: 10px 24px;
  margin: 5px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #196a9c;
}
